@import "./partials/bootstrap-overrides";

body {
  font-family: "Roboto", sans-serif;
}

.genre-dropdown {
  background-color: #000000;
  &:hover {
    background-color: #000000;
  }
  &:target {
    background-color: #000000;
  }
}

footer {
  .footer-button {
    opacity: 60%;
    &:hover {
      opacity: 100%;
    }
  }
  p {
    opacity: 60%;
  }
}

.general-btn {
  border-radius: unset;
  opacity: 60%;
  &:hover {
    color: #000000;
    background-color: #ffffff;
    opacity: 100%;
  }
}

.container-inside {
  max-width: 60%;
  margin-inline: auto;
}

.general-btn-danger {
  opacity: 60%;
  border-radius: unset;
  &:hover {
    background-color: $danger;
    outline: $danger;
    opacity: 100%;
    border-color: $danger;
  }
}

.row {
  .profile-pic {
    width: 100%;
  }
  .fa-pen {
    bottom: 5px;
    left: 15px;
    padding: 2px;
    background-color: $body-bg-dark;
    border-radius: 40px;
    border: 1px solid white;
    cursor: pointer;
  }
}

.container-fluid .my-4 {
  .col {
    cursor: pointer;
    transition: transform 300ms;
    &:hover {
      transform: scale(1.2);
      z-index: 99;
    }
  }
}

a {
  text-decoration: none;
  color: #1e90ff;
}

.custom-icon:hover {
  fill: #dee2e6;
}
